<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add loan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.lineicons.com/5.1/line/lineicons.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/x-icon">
</head>
<body>
    <a href="{{ url_for('loan') }}" class="back_home_btn_sign_up"><i class="lni lni-arrow-left"></i>go back </a>
    <div class="back_image_sign_up">
        <img src="{{ url_for('static', filename='images/image1.jpg') }}">
    </div>
    <div class="sign_up_holder">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
        <h1>add loan</h1>
        <p>Add loans seamlessly on the saving group platform and track repayments, records, and insights securely all in one place.</p>
        <div class="forms_holder">
            <form action="/save_loan" method="post">
                <div class="input_holder">
                    <select name="member_id" id="">
                        <option value="" disabled selected style="color: grey;">choose member</option>
                        {% for member in members_list %}
                        <option value="{{ member.member_id }}">{{ member.first_name }} {{ member.last_name }}</option>
                        {% endfor %}
                    </select>
                    <input type="date" value="{{ today }}" name="date">
                </div>
                <div class="input_holder">
                    <input type="number" placeholder="amount" style="width: 100%;" name="amount" step="0.01">
                </div>
                <button type="submit"><i class="lni lni-plus"></i> add loan</button>
            </form>
        </div>
    </div>
        
</body>
</html>