<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loan-member</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.lineicons.com/5.1/line/lineicons.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/x-icon">
</head>
<body>
    <div class="dashboard_back_image">
        <img src="{{ url_for('static', filename='images/image1.jpg') }}" alt="">
    </div>
    <div class="dash_whole_holder">
        <div class="nav_tabs">
            <div class="logo_name_holder">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
                <h1>{{ group.group_name }}</h1>
                <p>{{ group.country }}</p>
            </div>
            <div class="line"></div>
            <ul>
                <li><a href="{{ url_for('dashboard_member') }}"><i class="lni lni-gauge-1"></i> dashboard</a></li>
                <li><a href="{{ url_for('all_attendance_member') }}"><i class="lni lni-menu-cheesburger"></i> attendance</a></li>
                <li><a href="{{ url_for('loan_member') }}" class="active_nav"><i class="lni lni-refresh-dollar-1"></i> loan</a></li>
                <li><a href="{{ url_for('managers_member') }}"><i class="lni lni-hierarchy-1"></i> managers</a></li>
            </ul>
            <a href="{{ url_for('logout') }}" class="logout_dashboard"><i class="lni lni-exit"></i> logout</a>
        </div>
        <div class="display_tab">
            <div class="header_display">
                <div class="title_display">
                    <h1>loan</h1>
                    <p>overview loan operations and lists</p>
                </div>
                <div class="others_display">
                    <form action="" method="post">
                        <div class="search_bar">
                            <input type="text" placeholder="search">
                            <button type="submit"><i class="lni lni-search-1"></i></button>
                        </div>
                    </form>
                    <!-- <a href="{{ url_for('info') }}" class="notification"><i class="lni lni-bell-1" {% if info_count > 0 %}style="color: #f84210;"{% endif %}></i> {% if info_count > 0 %}<span>{{ info_count }}</span>{% endif %}</a> -->
                    <div class="user_details">
                        <!-- <div class="user_image"><i class="lni lnis-user-4"></i></div> -->
                        <h1>member</h1>
                    </div>
                </div>
            </div>
            <!-- <a href="{{ url_for('add_loan') }}" class="add_things_btn"><i class="lni lni-plus"></i> new loan</a> -->
            <div class="table_list_holder">
                <div class="table_list_header">
                    <div class="title_holder">
                        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
                        <h1>list of all loan</h1>
                    </div>
                    <form action="" method="post">
                        <div class="search_bar">
                            <input type="text" placeholder="filter something...">
                            <button type="submit"><i class="lni lni-funnel-1"></i></button>
                        </div>
                    </form>
                </div>
                <div class="line"></div>
                <div class="table_list">
                    <table>
                        <tr class="table_head">
                            <th>no</th>
                            <th>names</th>
                            <th>date</th>
                            <th>amount</th>
                            <th>days</th>
                            <!-- <th>actions</th> -->
                        </tr>
                        {% for loan, member in loan_list %}
                        <tr class="table_row">
                            <td>{{ loop.index }}</td>
                            <td>{{ member.first_name }} {{ member.last_name }}</td>
                            <td>{{ loan.date_issued }}</td>
                            <td>{{ "%.2f"|format(loan.remaining_amount) | replace(".00", "") }} rfw</td>
                            <td>{{ (today - loan.date_issued).days }} days</td>
                            <!-- <td class="edit_button">
                                <a href="{{ url_for('pay_loan', loan_id=loan.loan_id) }}"><i class="lni lni-hand-taking-dollar"></i></a>|
                                <a href="{{ url_for('edit_loan', loan_id=loan.loan_id) }}"><i class="lni lni-pencil-1"></i></a>
                            </td> -->
                        </tr>
                        {% else %}
                        <tr class="table_row">
                            <td colspan="6" style="text-align: center;">no loans found</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>