<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pay loan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.lineicons.com/5.1/line/lineicons.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/x-icon">
</head>
<body>
    <a href="{{ url_for('positions') }}" class="back_home_btn_sign_up"><i class="lni lni-arrow-left"></i>go back </a>
    <div class="back_image_sign_up">
        <img src="{{ url_for('static', filename='images/image1.jpg') }}">
    </div>
    <div class="sign_up_holder">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
        <h1>pay loan</h1>
        <p>Pay your loan amount and update the loan status.</p>
        <div class="forms_holder">
            <form action="/pay_loan_form/{{ loan.loan_id }}" method="post">
                <div class="input_holder">
                    <p>member: {{ member.first_name }} {{ member.last_name }}</p>
                    <p>remaining amount: {{ loan.remaining_amount | int }} rfw</p>
                    <input type="number" placeholder="payment amount" style="width: 100%;" name="payment" step="0.01" required>
                </div>
                <button type="submit"><i class="lni lni-hand-taking-dollar"></i> pay loan</button>
            </form>
        </div>
    </div>
        
</body>
</html>